.skip {
  margin-left: -500px;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  padding: 1rem 1.7rem;
  transition: all 0.275s ease-out;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.24);
  outline: none;
  &:hover, &:active, &:focus {
    display: block;
    background-color: white;
    z-index: 999;
    color: #282828;
    margin-left: 0;
    top: 1.5rem;
    left: 1.5rem;
  }
}
