@font-face{font-family:boilerplate_black;src:url(./assets/fonts/ProximaNovaAltBlack-webfont.ttf);font-weight:bolder}@font-face{font-family:boilerplate;src:url(./assets/fonts/ProximaNovaAltRegular-webfont.ttf)}@font-face{font-family:boilerplate_bold;src:url(./assets/fonts/ProximaNovaAltBold-webfont.ttf);font-weight:700}body{font-family:boilerplate}h1,h2,h3,h4,h5,h6{font-family:boilerplate_bold}
/*# sourceMappingURL=styles.css.map */
