@font-face {
  font-family: boilerplate_black;
  src: url('./assets/fonts/ProximaNovaAltBlack-webfont.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: boilerplate;
  src: url('./assets/fonts/ProximaNovaAltRegular-webfont.ttf');
  font-weight: normal;
}

@font-face {
  font-family: boilerplate_bold;
  src: url('./assets/fonts/ProximaNovaAltBold-webfont.ttf');
  font-weight: bold;
}
